<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 th:text="${surveyTitle}"></h2>

<form method="post" th:action="@{/app/survey/create}">
    <h4>Question type</h4>
    <div class="input-group">
        <input class="form-check-input" type="radio" id="radio" name="questionType" value="radio">
        <label class="form-check-label" for="radio">radio</label>
        <input class="form-check-input" type="radio" id="checkbox" name="questionType" value="checkbox">
        <label class="form-check-label" for="checkbox">checkbox</label>
        <input class="form-check-input" type="radio" id="text" name="questionType" value="text">
        <label class="form-check-label" for="text">text</label>
    </div>
    <h4>Question</h4>
    <input type="text" name="question">
    <h4>Quantity of answer</h4>
    <input type="number" name="quantityAnswer">
    <input type="hidden" name="surveyName" th:value="${session.surveyTitle}">

    <input type="submit">
    </div>
</form>

</body>
</html>