<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/form.css}" type="text/css">
<head th:include="application/fragments-app/app-header.html">

    <div th:insert="application/user/user::user-menu"></div>

    <div class="container" style="margin-bottom: 20%">
        <form class="form" id="change-password" method="post" th:action="@{/app/user/edit/password}" style="margin-top: 5%">
            <div class="container">
                <div>
                    <div class="row">
                        <h4>Change password</h4>

                        <div class="input-group input-group-icon">

                            <input type="password" placeholder="Old password" name="oldPassword" required/>
                            <div class="input-icon"><i class="fa fa-key" style="color: #005eff"></i></div>
                        </div>
                        <div class="pswErr" th:text="${pswErr}"></div>
                        <div class="input-group input-group-icon">
                            <input id="pass1" type="password" placeholder="New Password" name="newPassword" required/>
                            <div class="input-icon"><i class="fa fa-key" style="color: #005eff"></i></div>
                        </div>
                        <div class="input-group input-group-icon">
                            <input id="pass2" type="password" placeholder="Repeat new password" name="repeatPassword" required/>
                            <div class="input-icon"><i class="fa fa-key" style="color: #005eff"></i></div>
                        </div>

                    </div>
                    <input id="submitpass" type="submit" class="form submit" style="width: 50%" value="CHANGE PASSWORD">
                </div>
            </div>
        </form>
    </div>




    <div th:include="application/fragments-app/app-footer.html"></div>

