<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="fragments/header">


</header>
<body>
<section>
    <button id="addSurvey" type="button" class="btn btn-primary btn-lg btn-block">Add survey</button>
</section>

<section id="visible" class="btn-position btn-visible">
    <div>
        <a class="btn btn-primary" id="radio" href="#" role="button">Add radio</a>
        <a class="btn btn-primary" id="text" href="#" role="button">Add text</a>
        <a class="btn btn-primary" id="select" href="#" role="button">Add select</a>
        <a class="btn btn-primary" id="rating" href="#" role="button">Add rating</a>
        <a class="btn btn-primary" id="submit" href="#" role="button">Add submit</a>
    </div>

    <div th:include="surveyCreate.html"></div>


</section>
</body>
</html>