<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header>
<div th:include="fragments/header.html"></div>
</header>


<body>

<div class="content">
    <h1 class="text-center">Say Hello</h1>
    <h2 class="text-center">We are waiting to hear from you</h2>
</div>

<div class="contact-form content" style="margin-bottom: 10%">
    <form id="contact-form" method="post" action="">
        <input name="name" type="text" class="form" placeholder="Your name" required><br>
        <input name="email" type="email" class="form" placeholder="Your email" required><br>
        <textarea name="message" class="form" placeholder="Message" rows="5" required></textarea><br>

        <input type="submit" class="form submit" value="SEND MESSAGE">
    </form>
</div>
</body>


<div th:include="fragments/footer.html"></div>
