<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:include="fragments/header.html"></div>
</header>
<div id="carouselExampleSlidesOnly" class="carousel slide carusel-height content" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100 " src="images/slide_1.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 "  src="images/slide_2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 " src="images/slide_3.jpg" alt="Third slide">
        </div>
    </div>
</div>
<div class="content">
    <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet sollicitudin elit id laoreet. Praesent eu arcu egestas, fermentum sapien eu, tempus risus.
        Cras ligula nibh, vestibulum quis faucibus dictum, finibus vitae nisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse diam nunc, eleifend at
        consectetur nec, dapibus eu ex. Morbi a commodo libero, eu fringilla libero. Curabitur odio ex, porta in velit ac, dignissim posuere risus. Mauris venenatis purus vel
        tristique aliquam. Donec convallis accumsan urna, dignissim dictum justo faucibus sed. Maecenas tempor orci a diam malesuada, ac hendrerit ex pharetra. Morbi nec efficitur
        orci, sit amet dignissim neque. Integer ligula urna, posuere ac cursus non, gravida eu dolor. Sed viverra enim interdum justo iaculis porta. Aliquam erat volutpat.

        Integer a arcu eu ante mattis interdum in eget augue. Aliquam at consectetur purus. Nulla et consequat elit. Praesent sit amet vehicula est. Morbi dapibus dolor id
        scelerisque iaculis. Sed ut leo et nibh placerat eleifend. Nulla mollis ornare diam, at semper ante convallis commodo. Ut interdum, ligula sed ornare luctus, odio quam
        sagittis arcu, nec malesuada ex velit eget mauris. Phasellus suscipit sapien at enim mattis, vel vestibulum magna pharetra. Mauris ac blandit lectus. Morbi at aliquam arcu.
        Etiam dignissim mi in massa dictum, non auctor eros lobortis. Suspendisse potenti. Fusce gravida erat ac dui lacinia, et iaculis felis ullamcorper.
    </div>
</div>

<div class="content-line">
    <h5 class="content">About Us</h5>
</div>
<div>
    <p class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta ex eget mattis facilisis.
        Vivamus ut libero egestas, fermentum tellus sed, ultrices sem. Praesent id tellus at
        velit sodales semper et eget sem. Fusce elementum, magna id auctor ultricies, lacus
    </p>

    <section>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h1>Eurocorp</h1>
                    <img src="images/eurocorp.jpg" alt="eurocorp logo"/>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem.  Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.
                    </p>
                </div>
                <div class="col text-center pr-4 pl-4 mr-4 ml-4">
                    <h1>Aspari</h1>
                    <img src="images/aspari.jpg" alt="aspari logo"/>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem.  Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.
                    </p>
                </div>
                <div class="col text-center">
                    <h1>Cayman Global</h1>
                    <img src="images/cayman.jpg" alt="cayman logo"/>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem.  Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.
                    </p>
                </div>
            </div>
        </div>
    </section>

</div>
<div class="content-line">
    <h5 class="content">Connect</h5>
</div>
<div class="content">
    <ul>
        <li class="social">Facebook</li>
        <li class="social">Twitter</li>
        <li class="social">Instagram</li>
    </ul>
</div>


<div th:include="fragments/footer.html"></div>
