<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header>
<div th:include="fragments/header.html"></div>
    <link  rel="stylesheet" th:href="@{/css/form.css}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</header>


<body style="background-color: white">

<div class="content">

    <div>
        <p class="text-center" style="color: black">
            Welcome to our web-page to get whole possibility please fill registration form to get access to more surveys !!!
        </p>
    </div>

    <div class="container">
        <form method="post" th:object="${user}" th:action="@{register}">
            <div class="row">
                <h4>Account</h4>
                <div class="input-group input-group-icon">
                    <input type="text" placeholder="Full Name" th:field="*{username}"/>
                    <div class="input-icon"><i class="fa fa-user" style="color: #005eff"></i></div>
                </div>
                <div class="input-group input-group-icon">
                    <input type="email" placeholder="Email Adress" th:field="*{email}"/>
                    <div class="input-icon"><i class="fa fa-envelope" style="color: #005eff"></i></div>
                </div>
                <div class="input-group input-group-icon">
                    <input type="password" placeholder="Password" th:field="*{password}"/>
                    <div class="input-icon"><i class="fa fa-key" style="color: #005eff"></i></div>
                </div>
            </div>
            <div class="row">
                <div class="col-half">
                    <h4>Date of Birth</h4>
                    <div class="input-group">
                        <div class="col-third">
                            <input type="text" placeholder="DD"/>
                        </div>
                        <div class="col-third">
                            <input type="text" placeholder="MM"/>
                        </div>
                        <div class="col-third">
                            <input type="text" placeholder="YYYY"/>
                        </div>
                    </div>
                </div>
                <div class="col-half">
                    <h4>Gender</h4>
                    <div class="input-group">
                        <input id="gender-male" type="radio" th:field="*{gender}" value="male"/>
                        <label for="gender-male">Male</label>
                        <input id="gender-female" type="radio" th:field="*{gender}" value="female"/>
                        <label for="gender-female">Female</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <h4>Terms and Conditions</h4>
                <div class="input-group">
                    <input id="terms" type="checkbox"/>
                    <label for="terms">I accept the terms and conditions for signing up to this service, and hereby confirm I have read the privacy policy.</label>
                    <input type="submit" value="Send"/>
                </div>
            </div>
        </form>
    </div>



</div>
</body>


<div th:include="fragments/footer.html"></div>
