<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

</body>
</html>


MODALS

<div style="float: right ">
    <button onclick="document.getElementById('signInModal').style.display='block'" id="signInBtn" class="signup">Sign In</button>
    <div id="signInModal" class="modal">
        <span onclick="document.getElementById('signInModal').style.display='none'" class="close" title="Close Modal">X</span>
        <form class="form" method="post" th:action="@{/login}">
            <div class="container">
                <h1>Sign In</h1>

                <p>Please fill data to login.</p>

                <div class="row">
                    <h4>Account</h4>
                    <div class="input-group input-group-icon">
                        <input type="email" name="email" placeholder="Email Adress"/>
                        <div class="input-icon"><i class="fa fa-envelope"></i></div>
                    </div>
                    <div class="input-group input-group-icon">
                        <input type="password" name="password" placeholder="Password"/>
                        <div class="input-icon"><i class="fa fa-key"></i></div>
                    </div>
                </div>
                <div class="clearfix">

                    <button type="button" onclick="document.getElementById('signInModal').style.display='none'" class="cancelbtn">Cancel</button>
                    <button type="submit" class="signup">Sign In</button>
                </div>
            </div>
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

        </form>
    </div>

    <button onclick="document.getElementById('modal').style.display='block'" id="modelBtn" class="signup">Sign Up</button>
    <div id="modal" class="modal">
        <span onclick="document.getElementById('modal').style.display='none'" class="close" title="Close Modal">X</span>
        <form class="form"  th:action="@{/register}" method="post" th:object="${user}">
            <div class="container">
                <h1>Sign Up</h1>

                <p>Please fill in this form to create an account.</p>

                <div class="row">
                    <h4>Account</h4>
                    <div class="input-group input-group-icon">
                        <input type="text" placeholder="Full Name" name="username" required/>
                        <div class="input-icon"><i class="fa fa-user"></i></div>
                    </div>
                    <div class="input-group input-group-icon">
                        <input type="email" placeholder="Email Adress" name="email"required/>
                        <div class="input-icon"><i class="fa fa-envelope"></i></div>
                    </div>
                    <div class="input-group input-group-icon">
                        <input type="password" placeholder="Password" name="password" required/>
                        <div class="input-icon"><i class="fa fa-key"></i></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-half">
                        <h4>Date of Birth</h4>
                        <div class="input-group">
                            <div class="col-third">
                                <input type="text" placeholder="DD"/>
                            </div>
                            <div class="col-third">
                                <input type="text" placeholder="MM"/>
                            </div>
                            <div class="col-third">
                                <input type="text" placeholder="YYYY"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-half">
                        <h4>Gender</h4>
                        <div class="input-group">
                            <input id="gender-male" type="radio" name="gender" value="male"/>
                            <label for="gender-male">Male</label>
                            <input id="gender-female" type="radio" name="gender" value="female"/>
                            <label for="gender-female">Female</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h4>Terms and Conditions</h4>
                    <div class="input-group">
                        <input id="terms" type="checkbox"/>
                        <label for="terms">I accept the terms and conditions for signing up to this service, and hereby confirm I have read the privacy policy.</label>
                    </div>
                </div>

                <div class="clearfix">

                    <button type="button" onclick="document.getElementById('modal').style.display='none'" class="cancelbtn">Cancel</button>
                    <button type="submit" class="signup" id="signUp">Sign Up</button>
                </div>
            </div>

        </form>
    </div>
</div>

<!--TODO BUTTON FROM SURVEYS-->

<!--<div onclick="document.getElementById('survey-1').style.display='block'" id="free-survey-btn" class="free-survey-table content text-center">-->
<!--    <p>Survey</p>-->
<!--    <div id="survey-1" class="modal">-->
<!--        <div th:include="survey/survey2.html"></div>-->
<!--    </div>-->
<!--</div>-->